caption {
    border: 1px solid black;
}

#linha1{
    background-color:lightskyblue ;
}

#linha2{
    background-color:white ;
}

#coluna{
    background-color:lightskyblue ;
}

#linha3{
    background-color:lightskyblue ;
}
