*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    height: 10vh;
    padding: 10px;
}

#updheader{
    position: fixed;
    width: 100%;
    justify-content: center;
}

header img{
    height: 100%;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
}

ul a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s ease;
    font-size: 1.2rem;
    display: inline-block;
}

ul a:hover{
    color: orange;
    transform: translateY(-5px);
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 20px;
}

#sec1upd{
    justify-content: center;
    background: url(https://wallpapers.com/images/featured/pokemon-hd-fazqcs1tmwwte1ap.jpg) center / cover no-repeat;
    height: 100vh;
}

#updform{
    background: rgba(0, 0, 0, .5);
    width: 400px;
    margin-top: 50px;
}

#updform input{
    border: none;
}

#sec1{
    background:
    linear-gradient(to bottom, black, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.1)),
    linear-gradient(to top, black, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.1)),
    url(https://external-preview.redd.it/odqgKwzacwZw_9VTCnFXkBhVcAMCX5UUb_rkIiSpzf4.jpg?auto=webp&s=4b6b05530eed1aa37621b58932187797641cf493) center / cover no-repeat;
}

#sec2{
    background:
    linear-gradient(to bottom, black, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.1)),
    url(https://cdn.wallpapersafari.com/58/38/8xtzPB.jpg) center / cover no-repeat;
}

#sec2 h2{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 10px black;
    color: white;
}

form h2{color: orange;}

input[type=text]{
    border: 2px solid;
    background-color: white;
    height: 30px;
    padding: 5px;
    width: 80%;
    border-image: linear-gradient(to right, yellow, orange, yellow) 1;
}

select{
    border: none;
    background-color: rgba(255, 255, 255, .005);
    border-bottom: 1px solid;
    width: 83%;
    padding: 2px;
    border-image: linear-gradient(to right, orange, yellow, orange) 1;
}

input{
    outline: none;
}

.email, .nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type=submit]{
    border: none;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(to right, orange, yellow, orange);
    font-weight: bold;
}

table{
    border-spacing: 0;
    color: white;
}

td, th{
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}

i{
    text-decoration: none;
    color: white;
}

#X{
    font-size: 2rem;
    justify-self: flex-start;
}

.top{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}